# PHPUnit Snippets
snippet uc
	class ${1}Test extends PHPUnit_Framework_TestCase {
		public function test${2}() {
		}
	}
snippet ut
	public function test${1}() {
	}
snippet uat
	$this->assertTrue(${1:$condition}${2:, "message"});
snippet uae
	$this->assertEquals(${1:$expected}, ${2:$actual});
snippet uac
	$this->assertCount(${1:$expectedcount}, ${2:$haystack});
snippet uaem
	$this->assertEmpty(${1:$actual});
