
[Desktop Entry]
Type=Application
Exec=hamster-indicator
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[en_US]=hamster-indicator
Name=hamster-indicator
Comment[en_US]=
Comment=
