[Desktop Entry]
Name=xrdb
Type=Application
Exec=/home/grota/.xinitrc
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Comment=lightdb does not run .xsession or .xsessionrc
