encryption: gpg
{{- if lookPath "bat" }}
pager: bat
{{- else }}
pager: cat
{{- end }}
{{ $develmode := promptBool "Is devel mode? (false)" false -}}
{{- if $develmode -}}
sourceDir: {{ output "pwd" -}}
{{- end -}}
gpg:
  recipient: Giuseppe Rota
{{- if (and (not (lookPath "bw")) (stat (joinPath .chezmoi.homeDir "local" "bin" "bw"))) }}
bitwarden:
  command: {{ .chezmoi.homeDir }}/local/bin/bw
{{ end }}

{{ $headless := promptBool "The system is headless? (false)" false -}}
data:
  headless: {{ $headless }}

hooks:
  re-add:
    post:
      command: {{ .chezmoi.sourceDir }}/chezmoi_ignored/dconf/refresh-dconf-dump.sh
