/vim/dotvim/.netrwhist
/vim/dotvim/.netrwbook
/vim/dotvim/sessions/*
/vim/dotvim/doc/tags
# scm_breeze's index file
/.git_index
/_config/beets/state.pickle
/drush
/_config/pianobar
/gnupg
/ikiwiki
/rtorrent
/ssh
/lftp
/_kde/socket-*
/_kde/tmp-*
/_kde/cache-*
/vim/dotvim/nvimrc
