# adding a pattern to .gitignore means that when you do a `chezmoi add ...`
# chezmoi doesn't GIT-TRACK the files in its dotfiles repo (sourceDir).

# The files are still added to the sourceDir (~/.local/share/chezmoi/) though.

# So you also need to add the pattern to `.chezmoiignore` in order to not have
# chezmoi copy the files back to the home dir when you do a `chezmoi apply`.
/.aider*
.aider*
