[submodule "bash/scm_breeze"]
	path = bash/scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "private"]
	path = private
	url = git@bitbucket.org:grota/private-dotfiles.git
[submodule "bin/rupa_z"]
	path = bin/rupa_z
	url = https://github.com/rupa/z.git
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
