[submodule "vim/dotvim/bundle/vim-scripts_YankRing"]
	path = vim/dotvim/bundle/vim-scripts_YankRing
	url = git://github.com/vim-scripts/YankRing.vim.git
[submodule "vim/dotvim/bundle/scrooloose_nerdcommenter"]
	path = vim/dotvim/bundle/scrooloose_nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
[submodule "vim/dotvim/bundle/Lokaltog_vim-powerline"]
	path = vim/dotvim/bundle/Lokaltog_vim-powerline
	url = git://github.com/Lokaltog/vim-powerline.git
[submodule "vim/dotvim/bundle/sjbach_lusty"]
	path = vim/dotvim/bundle/sjbach_lusty
	url = git://github.com/sjbach/lusty.git
[submodule "vim/dotvim/bundle/majutsushi_tagbar"]
	path = vim/dotvim/bundle/majutsushi_tagbar
	url = git://github.com/majutsushi/tagbar.git
[submodule "vim/dotvim/bundle/vim-scripts_IndexedSearch"]
	path = vim/dotvim/bundle/vim-scripts_IndexedSearch
	url = git://github.com/vim-scripts/IndexedSearch.git
[submodule "vim/dotvim/bundle/AndrewRadev_linediff.vim"]
	path = vim/dotvim/bundle/AndrewRadev_linediff.vim
	url = git://github.com/AndrewRadev/linediff.vim.git
[submodule "vim/dotvim/bundle/godlygeek_tabular"]
	path = vim/dotvim/bundle/godlygeek_tabular
	url = git://github.com/godlygeek/tabular.git
[submodule "vim/dotvim/bundle/rbgrouleff_bclose.vim"]
	path = vim/dotvim/bundle/rbgrouleff_bclose.vim
	url = git://github.com/rbgrouleff/bclose.vim.git
[submodule "vim/dotvim/bundle/gregsexton_gitv"]
	path = vim/dotvim/bundle/gregsexton_gitv
	url = git://github.com/gregsexton/gitv.git
[submodule "vim/dotvim/bundle/vim-scripts_lastpos"]
	path = vim/dotvim/bundle/vim-scripts_lastpos
	url = git://github.com/vim-scripts/lastpos.vim.git
[submodule "vim/dotvim/bundle/kien_ctrlp.vim"]
	path = vim/dotvim/bundle/kien_ctrlp.vim
	url = git://github.com/kien/ctrlp.vim.git
[submodule "vim/dotvim/bundle/nvie_togglemouse"]
	path = vim/dotvim/bundle/nvie_togglemouse
	url = git://github.com/nvie/vim-togglemouse.git
[submodule "vim/dotvim/bundle/ervandew_supertab"]
	path = vim/dotvim/bundle/ervandew_supertab
	url = git://github.com/ervandew/supertab
[submodule "vim/dotvim/bundle/tpope_vim-surround"]
	path = vim/dotvim/bundle/tpope_vim-surround
	url = git://github.com/tpope/vim-surround
[submodule "vim/dotvim/bundle/tpope_fugitive"]
	path = vim/dotvim/bundle/tpope_fugitive
	url = git://github.com/tpope/vim-fugitive
[submodule "vim/dotvim/bundle/tpope_vim-repeat"]
	path = vim/dotvim/bundle/tpope_vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "vim/dotvim/bundle/tpope_vim-eunuch"]
	path = vim/dotvim/bundle/tpope_vim-eunuch
	url = git://github.com/tpope/vim-eunuch.git
[submodule "vim/dotvim/bundle/scrooloose_syntastic"]
	path = vim/dotvim/bundle/scrooloose_syntastic
	url = git://github.com/scrooloose/syntastic.git
[submodule "vim/dotvim/bundle/tpope_vim-markdown"]
	path = vim/dotvim/bundle/tpope_vim-markdown
	url = git://github.com/tpope/vim-markdown.git
[submodule "vim/dotvim/bundle/tpope_vim-pathogen"]
	path = vim/dotvim/bundle/tpope_vim-pathogen
	url = git://github.com/tpope/vim-pathogen.git
[submodule "vim/dotvim/bundle/grota_showmarks"]
	path = vim/dotvim/bundle/grota_showmarks
	url = git@github.com:grota/ShowMarks.git
[submodule "vim/dotvim/bundle/shawncplus_phpcomplete.vim"]
	path = vim/dotvim/bundle/shawncplus_phpcomplete.vim
	url = git://github.com/shawncplus/phpcomplete.vim.git
[submodule "vim/dotvim/bundle/guns_xterm_color_table.vim"]
	path = vim/dotvim/bundle/guns_xterm_color_table.vim
	url = git://github.com/guns/xterm-color-table.vim.git
[submodule "vim/dotvim/bundle/grota_drupal.vim"]
	path = vim/dotvim/bundle/grota_drupal.vim
	url = git@github.com:grota/drupal.vim.git
[submodule "private"]
	path = private
	url = /home/grota/Dropbox/git_repos/private_rcfiles
[submodule "bin/git-archive-all"]
	path = bin/git-archive-all
	url = git://github.com/mhitza/git-archive-all.sh.git
[submodule "bin/git-diffall"]
	path = bin/git-diffall
	url = git@github.com:grota/git-diffall.git
[submodule "bin/rupa_v"]
	path = bin/rupa_v
	url = https://github.com/rupa/v.git
[submodule "vim/dotvim/bundle/AndrewRadev_splitjoin.vim"]
	path = vim/dotvim/bundle/AndrewRadev_splitjoin.vim
	url = git://github.com/AndrewRadev/splitjoin.vim.git
[submodule "bin/autojump"]
	path = bin/autojump
	url = git://github.com/joelthelion/autojump.git
[submodule "vim/dotvim/bundle/garbas_vim-snipmate"]
	path = vim/dotvim/bundle/garbas_vim-snipmate
	url = https://github.com/garbas/vim-snipmate.git
[submodule "vim/dotvim/bundle/MarcWeber_vim-addon-mw-utils"]
	path = vim/dotvim/bundle/MarcWeber_vim-addon-mw-utils
	url = git://github.com/MarcWeber/vim-addon-mw-utils.git
[submodule "vim/dotvim/bundle/tomtom_tlib_vim"]
	path = vim/dotvim/bundle/tomtom_tlib_vim
	url = git://github.com/tomtom/tlib_vim.git
[submodule "bash/scm_breeze"]
	path = bash/scm_breeze
	url = git://github.com/ndbroadbent/scm_breeze.git
[submodule "bin/php-build"]
	path = bin/php-build
	url = git://github.com/CHH/php-build.git
[submodule "vim/dotvim/bundle/vim-scripts_argtextobj.vim"]
	path = vim/dotvim/bundle/vim-scripts_argtextobj.vim
	url = git://github.com/vim-scripts/argtextobj.vim.git
[submodule "vim/dotvim/bundle/jiangmiao_auto-pairs"]
	path = vim/dotvim/bundle/jiangmiao_auto-pairs
	url = git://github.com/jiangmiao/auto-pairs.git
[submodule "vim/dotvim/bundle/vim-scripts_gitignore"]
	path = vim/dotvim/bundle/vim-scripts_gitignore
	url = git://github.com/vim-scripts/gitignore.git
[submodule "vim/dotvim/bundle/joonty_vdebug"]
	path = vim/dotvim/bundle/joonty_vdebug
	url = git://github.com/joonty/vdebug.git
[submodule "vim/dotvim/bundle/tpope_vim-rails"]
	path = vim/dotvim/bundle/tpope_vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "vim/dotvim/bundle/AndrewRadev_multichange"]
	path = vim/dotvim/bundle/AndrewRadev_multichange
	url = git://github.com/AndrewRadev/multichange.vim.git
[submodule "vim/dotvim/bundle/tpope_vim-endwise"]
	path = vim/dotvim/bundle/tpope_vim-endwise
	url = git://github.com/tpope/vim-endwise.git
[submodule "vim/dotvim/bundle/mileszs_ack.vim"]
	path = vim/dotvim/bundle/mileszs_ack.vim
	url = git://github.com/mileszs/ack.vim.git
[submodule "vim/dotvim/bundle/robmiller_vim-movar"]
	path = vim/dotvim/bundle/robmiller_vim-movar
	url = git://github.com/robmiller/vim-movar.git
[submodule "zsh/oh-my-zsh"]
	path = zsh/oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "vim/dotvim/bundle/nelstrom_vim-textobj-rubyblock"]
	path = vim/dotvim/bundle/nelstrom_vim-textobj-rubyblock
	url = git://github.com/nelstrom/vim-textobj-rubyblock.git
[submodule "vim/dotvim/bundle/kana_vim-textobj-user"]
	path = vim/dotvim/bundle/kana_vim-textobj-user
	url = git://github.com/kana/vim-textobj-user.git
[submodule "vim/dotvim/bundle/benmills_vimux"]
	path = vim/dotvim/bundle/benmills_vimux
	url = git://github.com/benmills/vimux.git
[submodule "vim/dotvim/bundle/jgdavey_vim-turbux"]
	path = vim/dotvim/bundle/jgdavey_vim-turbux
	url = git://github.com/jgdavey/vim-turbux.git
[submodule "vim/dotvim/bundle/thinca_vim-textobj-between"]
	path = vim/dotvim/bundle/thinca_vim-textobj-between
	url = git://github.com/thinca/vim-textobj-between.git
[submodule "vim/dotvim/bundle/vim-ruby_vim-ruby"]
	path = vim/dotvim/bundle/vim-ruby_vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule "vim/dotvim/bundle/zef_vim-cycle"]
	path = vim/dotvim/bundle/zef_vim-cycle
	url = git@github.com:zef/vim-cycle.git
[submodule "vim/dotvim/bundle/tristen_vim-sparkup"]
	path = vim/dotvim/bundle/tristen_vim-sparkup
	url = git://github.com/tristen/vim-sparkup.git
[submodule "vim/dotvim/bundle/craigemery_vim-autotag"]
	path = vim/dotvim/bundle/craigemery_vim-autotag
	url = git@github.com:craigemery/vim-autotag.git
[submodule "bin/drush"]
	path = bin/drush
	url = git@github.com:drush-ops/drush.git
[submodule "vim/dotvim/bundle/mhinz_vim-signify"]
	path = vim/dotvim/bundle/mhinz_vim-signify
	url = https://github.com/mhinz/vim-signify
[submodule "vim/dotvim/bundle/justinmk_vim-sneak"]
	path = vim/dotvim/bundle/justinmk_vim-sneak
	url = git@github.com:justinmk/vim-sneak.git
[submodule "bin/fzf"]
	path = bin/fzf
	url = git@github.com:junegunn/fzf.git
